@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
  font-family: "BARABARA-final";
  src: local("BARABARA-final"),
    url("./assets/fonts/BARABARA-final.otf") format("opentype");
  font-weight: normal;
}



/* Body */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* containers */
.container,
.container-fluid {
  padding: 0 !important;
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}

.empty-container {
  height: 25px;
}

.column {
  margin: 0 !important;
  padding: 0 !important;
}

.col {
  margin: 0 !important;
  padding: 0 !important;
}

.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

body {
  font-family: 'Inter', sans-serif !important;
}

.body-container{
  padding: 20px 50px !important;
}

@media (max-width: 991.98px) {
  .body-container {
    padding: 10px 15px !important; /* for md, sm, xs */
  }
}

/* Page Elements */
.barabara-label {
  color: #1F89B2;
  text-align: center;
  font-family: BARABARA-FINAL;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px; /* 152.778% */
  letter-spacing: 0.36px;

}
/* Apply to your scroll wrapper */
.custom-scroll-wrapper {
  overflow-x: auto;
  scrollbar-width: thin;           /* For Firefox */
  scrollbar-color: #ccc transparent; /* Optional: color */
}

/* WebKit Browsers (Chrome, Safari, Edge) */
.custom-scroll-wrapper::-webkit-scrollbar {
  height: 6px; /* Thin scrollbar */
}

.custom-scroll-wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll-wrapper::-webkit-scrollbar-thumb {
  background-color: #999;
  border-radius: 4px;
}

th {
  user-select: none;
}



.barabara-label2 {
  color: black !important;
  text-align: start !important;
  font-family: BARABARA-FINAL;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px; /* 152.778% */
  letter-spacing: 0.36px;

}

.barabara-title {
  color: #1F89B2;
  font-family: BARABARA-FINAL;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px; /* 130% */
  letter-spacing: 2.5px;
}

.barabara-subtitle {
  font-family: "BARABARA-final";
  margin: 0;
  color: #FFF;
  text-align: center;
  text-shadow: 0px 2px 0px #25A2D3;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: 55px; /* 152.778% */
  letter-spacing: 1.8px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #25A2D3;
}

.sub-title {
  color: black;
  text-align: start;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.sub-title-center {
  color: black;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.sub-title-blue {
  color: #1F89B2;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.sub-title-blue-start {
  color: #1F89B2;
  text-align: start;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
}

.label {
  font-size: 28px;
  font-weight: bold;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.blue-button {
  background: #1F89B2 !important;
  color: #f7fdff !important;
  border-radius: 10px !important;
  border: 1px solid #1F89B2 !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 15px;
  width: 50%;

}

.blue-button:hover {
  background: #f7fdff !important;
  color: #1F89B2 !important;
  border: 1px solid #1F89B2 !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 50%;
}

.color-blue-button {
  background: #1F89B2 !important;
  color: #f7fdff !important;
}

.color-blue-button:hover {
  background: #f7fdff !important;
  color: #1F89B2 !important;
  border: 1px solid #1F89B2 !important;
}




.white-button {
  background: #E8F8FF !important;
  color: #1F89B2 !important;
  border-radius: 10px !important;
  border: 1px solid #1F89B2 !important;
  transition: background-color 0.3s ease, color 0.3s ease !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 15px;
  width: 70%;
}

.white-button:hover {
  background: #1F89B2 !important;
  color: #f7fdff !important;
  border: 1px solid #fff !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

/* Icon styling */
.button-icon {
  margin-right: 10px !important;
}

/* Hover effect for icons */
.white-button:hover .button-icon {
  transform: scale(1.2); /* Slightly enlarge icon on hover */
}

/* AppNavBar.css */
.navbar {
  background-color: white !important;
  border-bottom: 1px solid #E1E1E1 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
  font-family: 'Poppins', sans-serif !important;
  color: black !important;
  font-size: small !important;
} 

.navbar-brand img {
  height: 30px !important;
}

.navbar-toggler {
  border: none !important;
}

.navbar .navlink {
  font-size: small !important;
  color: black !important;
  font-weight: bold !important;
}

.navbar .navlink:hover {
  color: #1F89B2 !important; /* Blue hover effect */

}

/* Change background color of dropdown menu */
.navbar .dropdown-menu {
  font-size: small !important;
  background-color: white !important;
  border: 1px solid #E1E1E1 !important;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1) !important;
}

/* Change dropdown text color */
.navbar .dropdown-item {
  font-size: small !important;
  font-weight: bold !important;

  color: black !important;
  background-color: white !important;
}

/* Hover effect */
.navbar .dropdown-item:hover {
  color: #1F89B2 !important; /* Blue hover effect */
}

/* Containers */
/* Apply gradient background and center text */
.custom-container {
  background: linear-gradient(180deg, rgba(4, 157, 217, 0.66) 0%, rgba(255, 255, 255, 0.00) 34.4%);
}

.background-container {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 50%), 
              url('assets/images/background.png'); /* Image path */
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents image repetition */
  width: 100%; /* Adjust width as needed */
  /* height: 100vh; Full viewport height */
  display: flex;
  flex-direction: column;
}


.logo-container {
  display: flex;
  justify-content: start; /* Centers the images */
  gap: 20px; /* Adds space between images */
  margin-bottom: 20px; /* Space before the title */
  
}

.logo-image {
  width: 70px !important; /* Adjust size as needed */
  height: 70px !important;
}

.image-container {
  display: flex;
  gap: 30px; /* Space between the boxes */
  padding: 0px 10px !important;
}

.image-box {
  width: 200px;
  height: 200px;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 10px; /* Optional rounded corners */
  overflow: hidden;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);

}

.image-box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 66.9%, #000 100%);
}

.image-box:nth-child(1) {
  background-image: url('assets/images/local.png'); /* Change to your local image */
}

.image-box:nth-child(2) {
  background-image: url('assets/images/foreign.jpg'); /* Change to your foreign image */
}

.barabara-subtitle-white{
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  color: #FFF;
  text-align: center;
  font-family: "BARABARA-final";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 65px; /* 361.111% */
  letter-spacing: 1.8px;
}


/* Card */
.custom-card {
  border-radius: 25px !important;
  background: #FFF;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
}

.custom-form {
  border-radius: 15px !important;
  background: #FFF !important;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15) !important;
  padding: 20px; /* Adds spacing inside the form */
  max-width: 100%; /* Adjust width as needed */
}

/* Center the footer buttons */
.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; /* Stack buttons vertically */
  text-align: center;

}

/* Style the buttons: small, gray, no underline */
.footer-button {
  font-size: 12px !important; /* Make text smaller */
  color: gray !important;
  text-decoration: none !important; /* Remove underline */
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 2px
}

/* Optional: Change color slightly on hover */
.footer-button:hover {
  color: darkgray !important;
}

.dropzone-container{
  background-color: #f7fdff !important;
  min-height: 250px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-style: dashed !important;
  cursor: pointer !important;
  border-radius: 15px !important;
  padding: 10px !important;
  border-color: #1F89B2 !important;
  border-width: 1.5px !important;
}

.drop-zone-border-success {
  border-color: #28a745 !important; /* Green border if permit is uploaded */
  background-color: #b5fbc5 !important;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

